.cardsCategoria{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr) );
    gap: 20px;
    cursor: pointer;
}

.cardsCategoria-unidad{
    border: 0.5px solid grey;
    border-radius: .25rem;
    padding: 5px;
}
.cardsCategoria-unidad-img{
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}
.cardsCategoria-unidad-descripcion{
    margin-top: 5px;
    margin-bottom: 5px;
}
