* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-producto {
  background: #ffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #f0572dd3;
}
.header-producto h2{
  margin-left: 1.5rem;
}
.boton-volver {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: none;
  border: none;
  border-radius: .7rem;
  padding: 7px;
  margin-right: 2rem;
  cursor: pointer;
}

.ubicacion {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.localidad {
  display: flex;
  align-items: center;
  gap: 7px;
}

.valoracion {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}

.valoracion h2 {
  background: #31363f;
  padding: 5px;
  border-radius: .5rem;
  color: white;
}

.cuerpo {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
}

.icons-prod {
  padding: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  gap: 10px;
}

.icons-prod button {
  background: white;
  border: none;
  cursor: pointer;
  color: #31363f;
}

.galeriaImg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

img {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}
.img1 {
  grid-area: 1 / 1 / 3 / 3;
}
.img2 {
  grid-area: 1 / 3 / 2 / 4;
}
.img3 {
  grid-area: 1 / 4 / 2 / 5;
}
.img4 {
  grid-area: 2 / 3 / 3 / 4;
}
.img5 {
  grid-area: 2 / 4 / 3 / 5;
}

.descripcion {
  width: 100%;
  text-align: justify;
  padding: 5px 0px;
}

.caracteristicas {
  padding: 5px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.reservaProductos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.botones {
  text-align: center;
  background-color: #31363f;
  color: white;
  border-radius: 5px;
  width: 300px;
  padding: 50px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.botones button {
  padding: 5px;
  background: #000;
  border: none;
  border-radius: 5px;
  color: #b34121;
  font-size: 20px;
  font-weight: 700;
}

.calendario-prod {
  background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    border: none;
    cursor: pointer;
    border: none;
    width:100%;
}
