.buscador{
    padding: 30px;
    background-color: #F0572D;
    margin-bottom: 3rem;
}
.buscadores{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.buscador-fecha{
    margin-top: 1rem;
    border-radius: 5px;
    border-style: none;
    border: none;
    cursor: pointer;
    padding: 0.7rem 2.5rem;
    border-radius: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
/* .buscador-calendario{
    margin-top: 50px;
} */
.buscador > h1 {
    color: white;
    font-size: 36px;
    text-align: center;
    
}
.buscador-submit{
    padding: 0.7rem 3.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border-style: none;
    cursor: pointer;
}
.react-daterange-picker__wrapper {
    border: none;
}
.h1{
    background-color: #FFFFFF;
}
@media only screen and (max-width: 1024px) {
    .buscadores{
        display: flex;
        flex-direction: column;
    }

    .buscador-submit {
        margin-top: 1rem;
        padding: 0.7rem 8.2rem;
        margin-left: 1rem;
    }


}
