.calendario {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}
.react-daterange-picker__button:enabled:hover .react-daterange-picker__button__icon, .react-daterange-picker__button:enabled:focus .react-daterange-picker__button__icon{
    stroke: black;
}
.calendario .react-daterange-picker__wrapper {
    border: none;
    border-radius: .5rem;
    background-color: rgb(237, 238, 238);
    width: 350px;
    padding: .3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    height: 44px;
    margin-bottom: 1em;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
}

.react-calendar__navigation button[disabled] {
    background-color: white;
    border-top-left-radius: .5rem;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}

.react-calendar__month-view__weekNumbers {
    font-weight: bold;
    text-decoration: none;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);}

.react-calendar__month-view__days__day--weekend {
    color: black;
    text-decoration: none;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: none;
    text-decoration: none;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 12em;
}

.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
}

.react-calendar__tile:disabled {
    background-color: white;
    color: rgb(185, 181, 181);
    border: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #FFFF;
    border-color: #F0572D;
    border-width: 1px;
    border-style: solid;
    border-radius: 0%;
    padding: 0rem;
}

.react-calendar__tile--now {
    background-color: #FFFF;

}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    
}

.react-calendar__tile--hasActive {
 
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    

}

.react-calendar__tile--active {
    background: #F0572D;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #F0572D;

}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}
