.calendario {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
}
.calendario .react-daterange-picker__wrapper {
    border-radius: .4rem;
    border: none;
    background-color: rgb(237, 238, 238);
    width: 300px;
    padding: .3rem;
}

