/* falta arreglar esto para mobile */
.searchBar{
    margin-top: 1rem;
    margin-left: 17rem;
    border-radius: 5px;
    width: 300px;
    border: none;

}
@media only screen and (max-width: 1024px) {
    .searchBar {
        margin-right: 16rem ;
    }
}


