.contenedor {
    width: 100%;
    height:23.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 238, 238);
    border-radius: .7rem;
    box-shadow: 2px 2px 2px 1px rgba(1, 1, 1, 0.3);
    margin-bottom: 8rem;
}

.contenedor svg {
    width: 50px;
    height: 50px;
}


h1 {
    color: #f0572dd3;
    margin-bottom: 10px;

}

.boton {
    width: 150px;
    padding: .8rem 2rem;
    border-radius: .7rem;
    border: none;
    background-color: #F0572D;
    color: white;
    cursor: pointer;
    font-weight: 600;
    margin-top: 25px;
}

@media only screen and (max-width: 970px) {
    .card {
        width: 35%;
    }
}

@media only screen and (max-width: 900px) {
    .card {
        width: 37%;
    }
}

@media only screen and (max-width: 870px) {
    .card {
        width: 40%;
    }
}

@media only screen and (max-width: 788px) {
    .card {
        width: 43%;
    }
}

@media only screen and (max-width: 698px) {
    .card {
        width: 48%;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 60%;
    }
}

@media only screen and (max-width: 543px) {
    .card {
        width: 65%;
    }
}

@media only screen and (max-width: 490px) {
    .card {
        width: 75%;
    }
}

@media only screen and (max-width: 415px) {
    .card {
        width: 80%;
    }
}

@media only screen and (max-width: 390px) {
    .card {
        width: 85%;
    }
}