.avatar{
    display: flex;
}
.avatar-nombre{
    margin-top: .4rem;
    font-weight: 600;
}
.avatar-sesion{
    margin-left: 1rem;
    cursor: pointer;
    font-weight: 600;
    padding: .6rem .8rem;
    border: none;
    color: white;
    background-color: #f1663f;
    border-radius: .7rem;
    transition: 1s;
}