.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #FFFFFF;
}

.header-logo {
    width: 100px;
}

.header-izquierda>img {
    margin-left: 1rem;
}

.header-derecha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 46rem;
}

.header-derecha-boton {
    padding: .8rem 2rem;
    margin-right: 1rem;
    border-radius: .7rem;
    border: none;
}

.sesion {
    margin-left: 2rem;
    cursor: pointer;
}

.cuenta {
    background-color: #F0572D;
    color: white;
    cursor: pointer;
}

/* botones hamburguesa */
.header-boton {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    opacity: 0;
}

<<<<<<< HEAD
@media only screen and (max-width: 1024px){
    .header-boton{
=======
@media only screen and (max-width: 1024px) {
    .header-boton {
>>>>>>> d72cb0f06d5feeba0454988cf90ffefd69c01d43
        display: block;
        opacity: 1;
        margin-left: 23rem;
    }

    .header-derecha {
        margin-left: 0rem;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        transition: 1s;
        transform: translateY(-100vh);
        background-color: #F0572D;
        position: absolute;
    }

    header .responsive-header {
        transform: none;
    }

    .header-cerrar-boton {
        position: absolute;
        top: 2.7rem;
        right: 1rem;
    }

    .sesion {
        margin-top: 15rem;
        margin-left: 35rem;
    }

    .cuenta {
        margin-bottom: 18rem;
        margin-left: 35rem;

    }

}